@import "tailwindcss";

@font-face {
  font-family: 'Bodoni';
  src: url('/fonts/bodonibk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniBook';
  src: url('/fonts/bodoniBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('/fonts/helveticaBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

.gradient-text {
  background: linear-gradient(91deg, #998263 0.66%, #C7B985 29.98%, #A0865C 102.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text; /* for Firefox */
  color: transparent;
}

/* * {
  border: 1px dashed black;
} */

body {
  overflow-x: hidden;
}